<h1>Admin &raquo; Dashboard</h1>

<div class="jumbotron">
<p><b>Products</b></p>
<span>You have <b><%= link_to @num_of_products, admin_products_path%></b> products in your database.</span>
</div>

<div class="jumbotron">
<p><b>Categories</b></p>
<span>You have <b><%= link_to @num_of_categories, admin_categories_path%></b> categories in your database.</span>
</div>
