// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Global
body {
  font-family: Poppins;
  padding-top: 70px;
  // background: #9fb4a4;
  background: #cfddd3;
  // color: #5e4f40;
  // color: #8b8a76;
  // color: #171311;
  // color: #99562c;
  // color: #dcd4ba;
  // color: #e8eae3;
}

.navbar {
  background-color: #ffffff;
  color: #333333 !important;
  border-color: #ffffff;
}

a {
  color: #333333 !important;
}

article {
  background: #ffffff;
  color: #333333;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.btn-primary {
  background-color: #333333;

  &:hover {
    background-color: #333333e0;
  }
}

.navbar-brand {
  font-size: 20px;
  font-weight: 500;
}

.btn-info {
  background-color: #337ab791;
  border-color: transparent;

  &:hover {
    background-color: #337ab791;
    border-color: transparent;
  }
}

.col-sm-offset-1 {
  margin-left: 10px !important;
}

.user_links {
  padding: 15px;
}
